<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Databinding, filtering, iterating</title>
</head>
<body ng-app ng-init="data={username:'thomas', loggedin:false}">
<h3>Data binding</h3>
Name <input type="text" ng-model="name"/>{{name}}
<hr>
<h3>Directives and expresions</h3>
<ul>
    <li>directives teach html new tricks</li>
    <li>can data binding</li>
    <li>controllers modules</li>
    <li>events</li>
    <li>modify css</li>
    <li>check if views are loaded</li>
</ul>

<hr/>
<h3>ng-hide</h3>
<div ng-hide="isHidden">
    <input type="text" ng-model="name"/>{{name}}
    <button ng-click="name='Adam'">Click me</button>
</div>
<input type="checkbox" ng-model="isHidden">
<hr/>
<h3>ng-bind</h3>
<span ng-bind="name"></span>
<hr/>
<h3>ng-cloak</h3>
<div ng-cloak>

    <span ng-bind="name">HELLO ME</span>
</div>
<hr/>
<h3>ng-switch</h3>
<div ng-switch on="data.loggedin">
    <span ng-switch-when="true">LOGGED IN</span>
    <span ng-switch-default="false">LOG IN</span>
</div>
<span ng-bind="name"></span>
<hr/>
<h3>ng-class</h3>
<span ng-bind="name"></span>
<hr/>
<h3>ng-show</h3>
<span ng-bind="name"></span>
<hr/>
<h3>ng-repeat</h3>
<div ng-init="people=[{name:'thomas',city:'London'},{name:'adam',city:'Sutton'},{name:'mike',city:'Kingston'}]"></div>
<ul>
    <li ng-repeat="person in people">{{person.name}} from {{person.city}}</li>
</ul>
<hr/>
<table>
    <tr ng-repeat="person in people">
        <td>{{person.name}}</td>
        <td>{{person.city}}</td>
    </tr>
</table>
<hr/>
<div ng-init="customers=[{joined:'2000-12-10', name:'thomas', city:'london', orderTotal:2001},{joined:'2000-10-10', name:'adam', city:'sutton', orderTotal:2001},{joined:'2000-12-11', name:'john', city:'croydon', orderTotal:2001}]"></div>
Filter: <input type="text" ng-model="customerFilter.name">
<table>
    <tr>
        <td ng-click="sortBy='name';reverse!=reverse">name</td>
        <td ng-click="sortBy='date';reverse!=reverse">date</td>
        <td ng-click="sortBy='joined';reverse!=reverse">joined</td>
        <td ng-click="sortBy='orderTotal';reverse!=reverse">orderTotal</td>
    </tr>
    <tr ng-repeat="cust in customers |filter:customerFilter | orderBy:sortBy:reverse">

        <td>{{cust.name | uppercase}}</td>
        <td>{{cust.joined | date}}</td>
        <!-- Look at https://docs.angularjs.org/api/ng/filter/date -->
        <td>{{cust.joined | date:'dd-MM-yyyy'}}</td>
        <td>{{cust.orderTotal | currency:'PLN'}}</td>
    </tr>
</table>
<hr/>
<script src="../includes/angular.js"></script>
</body>
</html>