<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controllers modules scope</title>
</head>
<body ng-app="customersApp">
Filter: <input type="text" ng-model="customerFilter.name">
<table data-ng-controller="CustomersController">
    <tr>
        <td ng-click="doSort('name')">name</td>
        <td ng-click="doSort('joined')">date</td>
        <td ng-click="doSort('joined')">joined</td>
        <td ng-click="doSort('orderTotal')">orderTotal</td>
    </tr>
    <tr data-ng-repeat="cust in customers |filter:customerFilter | orderBy:sortBy:reverse">

        <td>{{cust.name | uppercase}}</td>
        <td>{{cust.joined | date}}</td>
        <!-- Look at https://docs.angularjs.org/api/ng/filter/date -->
        <td>{{cust.joined | date:'dd-MM-yyyy'}}</td>
        <td>{{cust.orderTotal | currency:'PLN'}}</td>
    </tr>
</table>
<script src="../includes/angular.js"></script>
<script>
    var app = angular.module('customersApp', []);
</script>
<script src="controllers/CustomerController.js"></script>
</body>
</html>